-- Example 0
3
W?W
??B
???

Possible
-- Example 1
1
W??W

Impossible
-- Example 2
1
??

Possible
-- Example 3
4
W???
??B?
W???
???W

Possible
-- Example 4
4
W???
??B?
W???
?B?W

Impossible
-- Example 5
1
B

Possible
