-- Example 0
2
AB
BA

Good
-- Example 1
2
BA
AA

Bad
-- Example 2
3
ACB
CBA
BAC

Bad
-- Example 3
4
AAAA
ABBB
ABCC
ABCD

Good
-- Example 4
30
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
ABCDEFGHIJKLMNOPQRSTUVWXYZabcd
ACEGIKMOQSUWYacACEGIKMOQSUWYac
ADGJMPSVYbADGJMPSVYbADGJMPSVYb
AEIMQUYcCGKOSWaAEIMQUYcCGKOSWa
AFKPUZAFKPUZAFKPUZAFKPUZAFKPUZ
AGMSYAGMSYAGMSYAGMSYAGMSYAGMSY
AHOVcFMTaDKRYBIPWdGNUbELSZCJQX
AIQYCKSaEMUcGOWAIQYCKSaEMUcGOW
AJSbGPYDMVAJSbGPYDMVAJSbGPYDMV
AKUAKUAKUAKUAKUAKUAKUAKUAKUAKU
ALWDOZGRcJUBMXEPaHSdKVCNYFQbIT
AMYGSAMYGSAMYGSAMYGSAMYGSAMYGS
ANaJWFSBObKXGTCPcLYHUDQdMZIVER
AOcMaKYIWGUESCQAOcMaKYIWGUESCQ
APAPAPAPAPAPAPAPAPAPAPAPAPAPAP
AQCSEUGWIYKaMcOAQCSEUGWIYKaMcO
AREVIZMdQDUHYLcPCTGXKbOBSFWJaN
ASGYMASGYMASGYMASGYMASGYMASGYM
ATIbQFYNCVKdSHaPEXMBUJcRGZODWL
AUKAUKAUKAUKAUKAUKAUKAUKAUKAUK
AVMDYPGbSJAVMDYPGbSJAVMDYPGbSJ
AWOGcUMEaSKCYQIAWOGcUMEaSKCYQI
AXQJCZSLEbUNGdWPIBYRKDaTMFcVOH
AYSMGAYSMGAYSMGAYSMGAYSMGAYSMG
AZUPKFAZUPKFAZUPKFAZUPKFAZUPKF
AaWSOKGCcYUQMIEAaWSOKGCcYUQMIE
AbYVSPMJGDAbYVSPMJGDAbYVSPMJGD
AcaYWUSQOMKIGECAcaYWUSQOMKIGEC
AdcbaZYXWVUTSRQPONMLKJIHGFEDCB

Good
-- Example 5
50
AAAAAFAAAAAAAAAAAAAAAAAXAAAAcAAAAAAAAAAnAAAAAAAvAA
ABBBBFBBBBBLBBBBQBBBBBBXYBBBcBBBBBBBBBBnBBBBBBBvwB
ABCCCFCCCCCLMCOCQRCCCCCXYCCCcCCCCCCCCCCnCCCCsCCvwC
ABCDEFGHDDDLMDODQRSDUVWXYDDbcdDfghDDklDnopDrsDDvwx
ABCEEFEEEEELMEOEQRSEUVWXYEEbcEEfEhEEklEnEpEEsEEvwE
FFFFFFFFFFFFFFFFFFFFFFFXFFFFcFFFFFFFFFFFFFFFFFFvFF
ABCGEFGGGGGLMGOGQRSGUVWXYGGbcGGfGhGGklGnGpGGsGGvwG
ABCHEFGHHHHLMHOHQRSHUVWXYHHbcdHfHhHHklHnHpHHsHHvwH
ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwx
ABCDEFGHJJJLMJOJQRSJUVWXYJJbcdJfghJJklJnopJrsJJvwx
ABCDEFGHKJKLMNOPQRSTUVWXYZKbcdefghijklmnopqrsKKvwx
ALLLLFLLLLLLLLLLLLLLLLLXLLLLcLLLLLLLLLLnLLLLLLLvwL
ABMMMFMMMMMLMMOMQMMMMMMXYMMMcMMMMMMMMMMnMMMMMMMvwM
ABCDEFGHNJNLMNOPQRSTUVWXYZNbcdefghijklmnopqrsNNvwx
ABOOOFOOOOOLOOOOQOOOOOOXYOOOcOOOOOOOOOOnOOOOOOOvwO
ABCDEFGHPJPLMPOPQRSTUVWXYZPbcdPfghiPklmnopPrsPPvwx
AQQQQFQQQQQLQQQQQQQQQQQXQQQQcQQQQQQQQQQnQQQQQQQvwQ
ABRRRFRRRRRLMRORQRRRRRRXYRRRcRRRRRRRRRRnRRRRRRRvwR
ABCSSFSSSSSLMSOSQRSSSSSXYSSScSSSSSSSSSSnSSSSsSSvwS
ABCDEFGHTJTLMTOTQRSTUVWXYTTbcdTfghiTklTnopTrsTTvwx
ABCUUFUUUUULMUOUQRSUUUWXYUUUcUUUUhUUklUnUUUUsUUvwU
ABCVVFVVVVVLMVOVQRSVUVWXYVVbcVVfVhVVklVnVVVVsVVvwV
ABCWWFWWWWWLMWOWQRSWWWWXYWWWcWWWWhWWkWWnWWWWsWWvwW
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXvXX
AYYYYFYYYYYLYYYYQYYYYYYXYYYYcYYYYYYYYYYnYYYYYYYvwY
ABCDEFGHZJZLMZOZQRSTUVWXYZZbcdZfghiZklZnopZrsZZvwx
ABCDEFGHaJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwx
ABCbbFbbbbbLMbObQRSbUbWXYbbbcbbfbhbbklbnbbbbsbbvwb
cccccccccccccccccccccccXcccccccccccccccccccccccvcc
ABCdEFGddddLMdOdQRSdUVWXYddbcddfdhddkldndpddsddvwd
ABCDEFGHeJeLMeOPQRSTUVWXYZebcdefghijklmnoperseevwx
ABCffFfffffLMfOfQRSfUfWXYfffcffffhffklfnffffsffvwf
ABCgEFGHgggLMgOgQRSgUVWXYggbcdgfghggklgngpggsggvwg
ABChhFhhhhhLMhOhQRShhhhXYhhhchhhhhhhkhhnhhhhshhvwh
ABCDEFGHiJiLMiOiQRSiUVWXYiibcdifghiiklinopirsiivwx
ABCDEFGHjJjLMjOPQRSTUVWXYZjbcdjfghijklmnopjrsjjvwx
ABCkkFkkkkkLMkOkQRSkkkkXYkkkckkkkkkkkkknkkkkskkvwk
ABCllFlllllLMlOlQRSlllWXYlllcllllhllkllnllllsllvwl
ABCDEFGHmJmLMmOmQRSTUVWXYZmbcdmfghimklmnopmrsmmvwx
nnnnnFnnnnnnnnnnnnnnnnnXnnnncnnnnnnnnnnnnnnnnnnvnn
ABCoEFGHoooLMoOoQRSoUVWXYoobcdofghooklonoporsoovwx
ABCppFpppppLMpOpQRSpUVWXYppbcppfphppklpnpppSsppvwp
ABCDEFGHqJqLMqOPQRSTUVWXYZqbcdefghijklmnopqrsqqvwx
ABCrEFGHrrrLMrOrQRSrUVWXYrrbcdrfghrrklrnrSrrsrrvwx
ABsssFsssssLMsOsQRsssssXYssscssssssssssnsssssssvws
ABCDEFGHtJKLMNOPQRSTUVWXYZtbcdefghijklmnopqrsttvwx
ABCDEFGHuJKLMNOPQRSTUVWXYZubcdefghijklmnopqrstuvwx
vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv
AwwwwFwwwwwwwwwwwwwwwwwXwwwwcwwwwwwwwwwnwwwwwwwvww
ABCxEFGHxxxLMxOxQRSxUVWXYxxbcdxfghxxklxnxpxxsxxvwx

Bad
