-- Example 0
5
8
ae
bc

21
-- Example 1
5
8
ae
cb

-1
-- Example 2
1
1
srm
srm

0
-- Example 3
10
1
acb
bdc

30
-- Example 4
10
1
zyxw
vuts

16
-- Example 5
563
440
ptrbgcnlaizo
rtscedkiahul

10295
-- Example 6
126
311
yovlkwpjgsna
zpwnkytjisob

-1
