-- Example 0
3
www.topcoder.com
www.sindicate_of_evil.com
www.happy_citizens.com
3
hack encryption decryption internet algorithm
signal interference evil snake poison algorithm
flower baloon topcoder blue sky sea
6
hack
encryption
decryption
interference
signal
internet
3

2
www.topcoder.com
www.sindicate_of_evil.com
-- Example 1
3
brokenlink
flowerpower.net
purchasedomain.com
3
broken
rose tulips
cheap free domain biggest greatest
3
biggest
enemy
hideout
2

0
-- Example 2
2
a..a.ab.
...aa.b
2
a bc def
def ghij klmno
5
a
b
c
d
e
1

2
a..a.ab.
...aa.b
-- Example 3
1
www.tsa.gov
1
information assurance signal intelligence research
3
signal
assurance
penguin
2

1
www.tsa.gov
