-- Example 0
hello programmer. welcome to topcoder.

Hello programmer. Welcome to topcoder.
-- Example 1
one.

One.
-- Example 2
not really. english. qwertyuio. a. xyz.

Not really. English. Qwertyuio. A. Xyz.
-- Example 3
example four. the long fourth example. a. b. c. d.

Example four. The long fourth example. A. B. C. D.
