-- Example 0
TOPCODER
4

COPTODER
-- Example 1
ESPRIT
3

EPRSIT
-- Example 2
AAAAAAAAA
2

AAAAAAAAA
-- Example 3
ABRACADABRA
5

AAABCRDABRA
-- Example 4
BAZINGA
6

ABGINZA
-- Example 5
AAAWDIUAOIWDESBEAIWODJAWDBPOAWDUISAWDOOPAWD
21

AAAAAABDDDEEIIIJOOSUWWWWDBPOAWDUISAWDOOPAWD
