-- Example 0
2
YYYY
YYYY
2
NNYN
YYYN
2
YYYN
NNNY

5
-- Example 1
1
NNYYY
1
YYNNN
2
YYNNN
NNYYY

0
-- Example 2
1
YYYYYYYYN
1
YYYYYYYYY
3
YNYNYNYNY
NNNYNYNNN
NYNNNNNYN

4
-- Example 3
1
YY
1
YY
2
YN
NY

3
-- Example 4
3
YYNNYYNNYYNN
YNYNYNYNYNYN
YYYNNNYYYNNN
3
NYYNNYYNNYYN
YYNYYYNYYYNY
NNNNNNYYYYYY
6
NYNNNYNNNNNN
NNNNNNNNYNNN
NNYNNNNNNNYN
YNNNNNNYNNNN
NNNNNNNNNYNY
NNNYYNYNNNNN

4
