-- Example 0
3

bbaab
-- Example 1
8

ababbaab
-- Example 2
139

ababaabbaabbaaabbbaaabbbaaaabbbbaaaabbbbaaaaabbbbbaaaaabbbbbaaaaaabbbbbbaaaaaabbbbbb
-- Example 3
1000

abababababababababababababababababababababababababababababababaababaaba
-- Example 4
201

abababababababababababababaabbabbabababba
