-- Example 0
5
ooooo
..x..
....x
.....
....o

5
..o..
..x.o
....x
.....
oo.oo
-- Example 1
5
..o..
..x.o
....x
.....
oo.oo

5
..o..
..x.o
....x
.....
oo.oo
-- Example 2
1
ooooxooo.ooxo.oxoxoooox.....x.oo

1
ooooxooo.ooxo.oxoxoooox.....x.oo
-- Example 3
7
o
.
o
.
o
.
.

7
.
.
.
.
o
o
o
-- Example 4
5
oxxxxooo
xooooxxx
..xx.ooo
oooox.o.
..x.....

5
oxxxxooo
x.oo.xxx
..xxo...
.oo.x.o.
ooxo.ooo
-- Example 5
15
..o..o..o..o..o..o..o..o..o..o..o
o..o..o..o..o..o..o..o..o..o..o..
.o..o..o..o..o..o..o..o..o..o..o.
...xxx...xxx...xxxxxxxxx...xxx...
...xxx...xxx...xxxxxxxxx...xxx...
...xxx...xxx......xxx......xxx...
...xxxxxxxxx......xxx......xxx...
...xxxxxxxxx......xxx......xxx...
...xxxxxxxxx......xxx......xxx...
...xxx...xxx......xxx............
...xxx...xxx...xxxxxxxxx...xxx...
...xxx...xxx...xxxxxxxxx...xxx...
..o..o..o..o..o..o..o..o..o..o..o
o..o..o..o..o..o..o..o..o..o..o..
.o..o..o..o..o..o..o..o..o..o..o.

15
.................................
.................................
...ooo...ooo...ooooooooo...ooo...
...xxx...xxx...xxxxxxxxx...xxx...
...xxx...xxx...xxxxxxxxx...xxx...
...xxxoooxxx......xxx......xxx...
...xxxxxxxxx......xxx......xxx...
...xxxxxxxxx......xxx......xxx...
...xxxxxxxxx......xxx......xxx...
...xxx...xxx......xxx............
...xxx...xxx...xxxxxxxxx...xxx...
...xxx...xxx...xxxxxxxxx...xxx...
.................................
ooo.........ooo.........ooo...ooo
ooooooooooooooooooooooooooooooooo
