-- Example 0
2
?.
.O

5
-- Example 1
3
???
?O?
???

1952
-- Example 2
5
...?.
?....
.O...
..?..
....?

221
-- Example 3
1
OOOOOOOOOOOOOOOOOOOOO

21
-- Example 4
1
?????????OO??????????

9963008
-- Example 5
4
OOO
O?O
OOO
...

18
