-- Example 0
4
make
topcoder
great
again
4
make
america
great
again

3
-- Example 1
1
toads
1
toad

0
-- Example 2
2
a
a
1
a

2
-- Example 3
10
je
le
ai
deja
vu
et
je
le
veux
encore
9
i
am
having
deja
vu
please
stop
the
encore

3
