-- Example 0
3
ACB
BAC
CBA
1

3
1
2
0
-- Example 1
5
A
C
B
C
A
0

5
0
4
2
1
3
-- Example 2
9
LAX
BUR
ONT
LGB
SAN
SNA
SFO
OAK
SJC
2

9
5
3
8
7
4
6
1
2
0
-- Example 3
5
BBCBABAC
BCBACABA
CCCBAACB
CACABABB
AABBBBCC
6

5
0
1
3
2
4
-- Example 4
10
XXYWZWWYXZ
YZZZYWYZYW
ZYZZWZYYWW
ZWZWZWZXYW
ZYXWZXWYXY
YXXXZWXWXW
XWWYZWXYXY
XYYXYWYXWY
ZZYXZYZXYY
WXZXWYZWYY
3

10
0
3
4
5
7
8
9
6
1
2
-- Example 5
1
X
0

1
0
