-- Example 0
AAA

Dislikes
-- Example 1
ABCBA

Likes
-- Example 2
ABCBAC

Dislikes
-- Example 3
TOPCODER

Likes
-- Example 4
VAMOSGIMNASIA

Dislikes
-- Example 5
SINGLEROUNDMATCH

Likes
-- Example 6
DALELOBO

Likes
-- Example 7
ABCDAEFGAHIJA

Dislikes
