-- Example 0
something
awesome
ingenious

something
-- Example 1
havka
eto
papstvo

a
-- Example 2
abracadabra
habrahabr
bracket

abrac
-- Example 3
mississippi
promise
piccolo

ippi
-- Example 4
a a a a a a
a a
a

a a
-- Example 5
ab
b
a

b
