-- Example 0
3
NYY
YNY
YYN

6
-- Example 1
4
NYNN
YNYN
NYNY
NNYN

6
-- Example 2
4
NYYY
YNYY
YYNN
YYNN

16
-- Example 3
14
NYYYYYYYYYYYYY
YNYYYYYYYYYYYY
YYNYYYYYYYYYYY
YYYNYYYYYYYYYY
YYYYNYYYYYYYYY
YYYYYNYYYYYYYY
YYYYYYNYYYYYYY
YYYYYYYNYYYYYY
YYYYYYYYNYYYYY
YYYYYYYYYNYYYY
YYYYYYYYYYNYYY
YYYYYYYYYYYNYY
YYYYYYYYYYYYNY
YYYYYYYYYYYYYN

87178291200
-- Example 4
1
N

1
