-- Example 0
1
RR
1
SS

2
-- Example 1
2
SR
PP
2
PR
RS

1
-- Example 2
4
PP
PP
PP
PP
4
RR
PR
SS
SP

3
-- Example 3
7
PS
RS
PP
SP
RR
SS
SP
7
RP
SP
RR
SR
RS
SP
SS

10
-- Example 4
36
SP
SS
RR
PP
RP
PS
PP
SR
RS
PR
RR
SS
RS
SR
SP
RS
SP
SS
RR
SR
PP
PS
SR
SR
RP
RS
RR
RR
PR
PP
RP
SR
PP
RS
PR
PS
36
PP
RS
RR
RP
RS
SR
SP
SS
RP
PP
RS
RP
PP
PR
PR
SR
RP
PS
RP
RP
RR
SS
RS
SS
SP
RP
SS
PR
SP
RR
PP
SR
PR
PP
RR
SP

59
