-- Example 0
2
.o
o.

1
-- Example 1
3
.o...
..o..
....o

3
-- Example 2
8
o..........
..o........
.......o...
...........
...........
...........
........o..
...........

16
-- Example 3
3
.........
....o....
.........

0
-- Example 4
12
...o..........................
............................o.
.o............................
............o.................
.................o............
......................o.......
......o.......................
....o.........................
...............o..............
.......................o......
...........................o..
.......o......................

99
-- Example 5
23
.............
.......o.....
.............
.............
.............
...........o.
...o.........
.............
..o..........
.............
....o........
........o....
............o
.............
.........o...
.............
.............
.............
.............
.............
......o......
.....o.......
.............

50
-- Example 6
22
.................o.....
...............o.......
..........o............
.......................
.......................
.......................
.....................o.
.......................
.............o.........
......................o
.......................
.......................
.......o...............
................o......
.......................
............o..........
.......................
.......................
..................o....
.......................
...................o...
.......................

71
