-- Example 0
8
R.......
.R......
..R.....
...R....
....R...
.....R..
......R.
.......R

Correct
-- Example 1
8
........
....R...
........
.R......
........
........
..R.....
........

Incorrect
-- Example 2
8
......R.
....R...
...R....
.R......
R.......
.....R..
..R.....
.......R

Correct
-- Example 3
8
......R.
....R...
...R....
.R......
R.......
.......R
..R.....
.......R

Incorrect
-- Example 4
8
........
........
........
........
........
........
........
........

Incorrect
