-- Example 0
2
dea
abc
7
1
1

1
-- Example 1
1
xyxxy
6
1
0

28
-- Example 2
3
gogogo
jijiji
rarara
6
0
0

0
-- Example 3
3
abababacac
aaacacacbb
ccabababab
882
10
62

361706985
-- Example 4
4
asjkffqw
basjkffq
qbasjkff
qqbasjkf
9031
9024
1959

173947456
