-- Example 0
-X--XX
2
1
2
3

??++++
-- Example 1
-XXXXX-
1
2
3

???-???
-- Example 2
------X-XX-
4
3
0
2
0
5

++++++++++?
-- Example 3
-XXXXX---X--
4
2
1
0
1
3

???-??++++??
-- Example 4
-XX--X-XX-X-X--X---XX-X---XXXX-----X
13
3
3
3
3
3
3
3
3
3
3
3
3
3
7

???++++?++++++++++++++++++++??????--
