-- Example 0
ABC
CBA

2
-- Example 1
A
B

-1
-- Example 2
AAABBB
BBBAAA

3
-- Example 3
ABCDEFGHIJKLMNOPQRSTUVWXYZ
ZYXWVUTSRQPONMLKJIHGFEDCBA

25
-- Example 4
A
A

0
-- Example 5
DCABA
DACBA

2
-- Example 6
HQGHUMEAYLNLFDXFIRCVSCXGGBWKFNQDUXWFNFOZVS
HEHNSYIDXDNAOWFNXVQQUMLZKVWBXGRLCFFUGSFGFC

39
-- Example 7
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAZ

19
