-- Example 0
3
NYN
YNY
NYN
10

20
-- Example 1
2
NN
NN
1

-1
-- Example 2
6
NNYNNN
NNYNNN
YYNYNN
NNYNYY
NNNYNN
NNNYNN
1000

3000
-- Example 3
4
NNYN
NNNY
YNNN
NYNN
584

-1
-- Example 4
7
NYNYYYN
YNNYYYN
NNNNYNN
YYNNYYN
YYYYNNN
YYNYNNY
NNNNNYN
5

20
-- Example 5
15
NYYNNNNYYYYNNNN
YNNNYNNNNNNYYNN
YNNYNYNNNNYNNNN
NNYNNYNNNNNNNNN
NYNNNNYNNYNNNNN
NNYYNNYNNYNNNYN
NNNNYYNNYNNNNNN
YNNNNNNNNNYNNNN
YNNNNNYNNNNNYNN
YNNNYYNNNNNNNNY
YNYNNNNYNNNNNNN
NYNNNNNNNNNNNNY
NYNNNNNNYNNNNYN
NNNNNYNNNNNNYNN
NNNNNNNNNYNYNNN
747

2988
-- Example 6
2
NY
YN
0

0
-- Example 7
46
NNNYNNNNNNNNNNNNNNNNNNNNNNYNNYNNNNNNNNNNNYNNNY
NNNNNNNYNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNYN
NNNNNNNNNNYNNNYNNNNNNNNNYNNNNNNNNNNNNNNNNNNNYN
YNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNYNNNNNNYNNYN
NNNNNNNNNNNNNYNYNNNNYNNNNNNNNNNNYNNNNNNNNNNNNN
NNNNNNNNNNNNNNNNNNNYNNYNNNNNNNNYNYNNNNNNNNNNNN
NNNNNNNNNNNNNNNNNNNNNNNYNNNNNNNNNNNNNNNNNNNNNN
NYNNNNNNNNNNNYNNNNNNNYNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNNNNNNNNNYNNYNNNNNNNNNNNNNYNNNNNNNNNNNNNNN
NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
NNYNNNNNNNNNNNNNNNNNNYNNNNYNNNNNNNNYNNYNNNNNNN
NNNNNNNNNNNNYNNNNNNNNNNNNNNNNNYNNNNNNYNYNNNNNN
NNNNNNNNNNNYNNYNNNNYNNNNNNNNNNNNNNNNNNNYNNNNNN
NNNNYNNYYNNNNNNNNNNNNNNNNNNYNNNNNNNNNNNNNNNNNN
NNYNNNNNNNNNYNNNNNNNNNNNNNNNNNNNNNNNYNNNNNNNNN
NNNNYNNNNNNNNNNNNNNNNNYNNNNNNNYYNNNNNNNNNNNNNN
NNNNNNNNYNNNNNNNNNYYNNNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNNNNNNNNNNNNNNNNNNNNNNNNNYNNNNNNNNNNNNNNNN
NNNNNNNNNNNNNNNNYNNNNNNNNNNNYNNYNNNNYNNNNNNNNN
NNNNNYNNNNNNYNNNYNNNNNNNNNNNNNYNNNNNNNNYNNNNNN
NNNNYNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNY
NNNNNNNYNNYNNNNNNNNNNNNNNNNNNNYNNNNNNNNNNNNNNN
NNNNNYNNNNNNNNNYNNNNNNNNNNNNNNNNNNNNNNNNNNNYNN
NNNNNNYNNNNNNNNNNNNNNNNNNNNNNNNYNNNYNNNNNNYNNN
NNYNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
YNNNNNNNNNYNNNNNNNNNNNNNNNNNNNNNNYNNNNNNNNNNNN
NNNNNNNNNNNNNYNNNNNNNNNNNNNNYNNNNNNNNNNNNNNYNN
NNNNNNNNNNNNNNNNNNYNNNNNNNNYNYNNNNNNNNNNNNNNNN
YNNNNNNNNNNNNNNNNYNNNNNNNNNNYNNNNNNNNNNNNNNYNN
NNNNNNNNYNNYNNNYNNNYNYNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNYNNNNNNNNNYNNYNNNNYNNNNNNNNNNYNNNNNNNNNNN
NNNNYNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNYNNNNNNNNNNNNNNNNNNNNYNNNNNNNNNNNNNNNYNNN
NNNYNNNNNNNNNNNNNNNNNNNNNNNNNNNYNNNNNNNNNNNNNN
NNNNNNNNNNYNNNNNNNNNNNNYNNNNNNNNNNNNNNNNNNNNNN
NNNNNNNNNNNNNNYNNNYNNNNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNNNNNNNYNNNNNNNNNNNNNNNNNNNNNNNNNNNNYNNNNN
NNNNNNNNNNYNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNNNNNNNYYNNNNNNYNNNNNNNNNNNNNNNNNNNNNNNNNN
NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNYNNNNNNNN
YNNYNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNYNNN
NNNNNNNNNNNNNNNNNNNNNNNYNNNNNNNNNYNNNNNNNYNNNN
NNNNNNNNNNNNNNNNNNNNNNYNNNNYNYNNNNNNNNNNNNNNNN
NYYYNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
YNNNNNNNNNNNNNNNNNNNYNNNNNNNNNNNNNNNNNNNNNNNNN
931

-1
