-- Example 0
qwertyuiop
potter

8
-- Example 1
tc
tctcttccctccccttc

9
-- Example 2
a
aaaaaaaaaaa

0
-- Example 3
kwadrutove
rowerowe

39
-- Example 4
qwertyuiopasdfghjklzxcvbnm
topcodersingleroundmatchgoodluckhavefun

322
