-- Example 0
2
T.#
#.E
3

Alice
-- Example 1
3
E#E
#T#
E#E
99

Bob
-- Example 2
4
#E...
#...E
E.T#.
..#..
13

Alice
-- Example 3
1
TE
50

Alice
-- Example 4
1
.T.
1

Alice
-- Example 5
23
..........................
......EEE..EEE..E...E.....
.....E.....E..E.EE.EE.....
......EEE..EEE..E.E.E.....
.........E.E.E..E...E.....
......EEE..E..E.E...E.....
..........................
...E#E#E#E#E#E#E#E#E#E#...
..........................
......EEE..EEE...EEE......
.....E........E.E.........
......EEE.....E..EEE......
.....E...E...E..E...E.....
......EEE....E...EEE......
..........................
...#E#E#E#E#E#E#E#E#E#E...
..........................
....EE...E...E..E.EEE.E...
...E.....E...E..E.E...E...
...E.EE..E...EEEE.EE..E...
...E..E..E...E..E.E.......
....EE...EEE.E..E.E...E...
T.........................
100

Bob
