-- Example 0
3
F.F
.F.
.F.
1
1

2
-- Example 1
3
F..
...
...
0
0

0
-- Example 2
3
.FF.F.F
FF...F.
..FF.FF
1
2

6
-- Example 3
8
F
.
F
F
F
.
F
F
4
0

3
-- Example 4
10
.FFF..F...
FFF...FF.F
..F.F.F.FF
FF..F.FFF.
..FFFFF...
F....FF...
.FF.FF..FF
..F.F.FFF.
.FF..F.F.F
F.FFF.FF.F
4
3

32
