-- Example 0
4
NYNN
YNYN
NYNY
NNYN

3
-- Example 1
6
NYNNNN
YNYNNN
NYNNNN
NNNNYN
NNNYNY
NNNNYN

5
-- Example 2
3
NNN
NNN
NNN

0
-- Example 3
10
NYNYNNYYNN
YNNNYNYYNN
NNNNYNNNYN
YNNNYYNNNN
NYYYNNNNYN
NNNYNNNNYN
YYNNNNNNNN
YYNNNNNNYN
NNYNYYNYNY
NNNNNNNNYN

9
-- Example 4
20
NNNYNNYNNNNNNNYYNNNY
NNNNNNNNYNNNNNNNNNNN
NNNNNNNNNNNNNNNNNNNN
YNNNNNNNNNYNNNNNNNNN
NNNNNNNYNNNNNYNNNNYN
NNNNNNNNNNNNNNNNYNNY
YNNNNNNNNNNNNYYYNYNN
NNNNYNNNNNNNNYYNNNNN
NYNNNNNNNYNNNNNNNNNN
NNNNNNNNYNNNYNNNNNYN
NNNYNNNNNNNNNNYNNNNN
NNNNNNNNNNNNNNNNNNNN
NNNNNNNNNYNNNNNNNYNN
NNNNYNYYNNNNNNNNNNNN
YNNNNNYYNNYNNNNNNNNN
YNNNNNYNNNNNNNNNYNNN
NNNNNYNNNNNNNNNYNYNN
NNNNNNYNNNNNYNNNYNNN
NNNNYNNNNYNNNNNNNNNN
YNNNNYNNNNNNNNNNNNNN

42
