-- Example 0
4
BBBB
BBBB
BBBB
BBBB

4
-- Example 1
4
BBBB
BWWB
BWWB
BBBB

1
-- Example 2
4
WBBBBB
BBBBBB
BBBBBB
BBBBBB

3
-- Example 3
6
BBBB
BBBB
WBBB
BBBB
BBBB
BBBB

2
-- Example 4
15
WBBBBBWWWWWWWWW
WBBBBBBWWWWWWWW
WBBBBBBBBBBBWWW
WBBBBBBBBBBBWWW
BBBBBBBBBBBBBBB
BBBBBBBBBBBBBBB
BBBBBBBBBBBBBBB
BBBBBBBBWWBBBBB
BBBBBBBBWBBBBBB
WBBBBBBBWBBBBBW
BBBBBBBWWBBBBBW
BBBBBBBWWBBBBBW
BBBBBBWWWBBBBBW
BBBBBWWWWWWWWWW
BBBBBWWWWWWWWWW

5
-- Example 5
5
BBWW
BBWW
WBBW
WWBB
WWBB

1
