-- Example 0
8
RRRRRRRR
RRRRRRRR
RRRRRRRR
RRRRRRRR
R.......
........
........
........

10
0
7
1
3
2
4
3
6
4
0
-- Example 1
8
R.R.R.R.
.R.R.R.R
R.R.R.R.
.R.RRR.R
R.R.R.R.
.R.R.R.R
R.R.R.R.
.R.R.R.R

10
0
0
1
7
2
6
3
5
4
4
-- Example 2
8
RRRRRRRR
RRRRRRRR
RRRRRRRR
RRRRRRRR
RRRRRRRR
RRRRRRRR
RRRRRRRR
RRRRRRRR

10
0
7
1
3
2
4
3
6
4
0
-- Example 3
8
.RRRRRR.
RRRRRRRR
....RRRR
...RRRR.
..RRRR..
.RRRR...
RRRR....
RRR.....

10
1
7
2
6
3
5
4
4
5
3
-- Example 4
8
.RRRRRR.
RRRRRRRR
....RRRR
...RRRR.
..RRRR..
.RRRR...
RRRRRRRR
.RRRRRR.

10
1
7
2
6
3
5
4
4
5
3
-- Example 5
8
.RRRRRR.
RRRRRRRR
.RRRR...
..RRRR..
...RRRR.
....RRRR
RRRRRRRR
.RRRRRR.

10
1
7
3
5
4
4
6
2
7
1
-- Example 6
8
.R....R.
.R....R.
.R......
RRRRRRRR
RRRRRRRR
RRRRRRRR
RRRRRRRR
RRRRRRRR

10
2
1
0
6
3
0
4
2
5
3
-- Example 7
8
RRRRRRRR
RRRRRRRR
RRRRRRRR
RRRRRRRR
RRRRRRRR
RRRRRRRR
RRRRRRRR
RRRRRRRR

10
0
7
1
3
2
4
3
6
4
0
