-- Example 0
8
........
........
........
........
........
........
........
........

0
-- Example 1
8
........
...W.W..
........
........
........
........
B.......
.B......

0
-- Example 2
8
W......B
........
........
........
........
........
........
B......W

4
-- Example 3
8
........
........
........
WWWWBBBB
........
........
........
........

1
-- Example 4
8
........
.WB..W.W
........
.......B
..W..BB.
..B...W.
..BW...B
.B..B..W

14
