-- Example 0
aaaba

8
-- Example 1
zzzxxzz

12
-- Example 2
abcdefghijklmnopqrstuvwxyz

26
-- Example 3
p

1
-- Example 4
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

5050
