-- Example 0
hello
3

lllll
-- Example 1
abc
3

ddd
-- Example 2
wwwwwwwwwwwwwwwwww
0

wwwwwwwwwwwwwwwwww
-- Example 3
ababba
3

aaaaaa
-- Example 4
zoztxtoxytyt
10

oooooooooooo
-- Example 5
jlmnmiunaxzywed
13

mmmmmmmmmmmmmmm
