-- Example 0
49

2
little
limak
-- Example 1
15

2
azz
xyz
-- Example 2
704

3
aaaaaaaaaa
abcdefghijklmnopqrstuvwxyz
aabbcc
-- Example 3
37521

35
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
aabbccddeeffgghhiijjkkllmmnnooppqqrrssttuuvvwwxxyy
abcd
aa
a
a
a
-- Example 4
1

1
a
-- Example 5
52

4
abcdefg
a
a
a
