-- Example 0
STANA

STANTA
-- Example 1
STN

SANTNA
-- Example 2
RATSNOOOA

DEARATSNOOOSANTA
-- Example 3
SXAYNTA

OOOOSOXAYNTOOOOAOOO
-- Example 4
SNTA

SANTA
-- Example 5
ASNTA

SASNTAS
-- Example 6
NIELATA

SANIELATAJA
-- Example 7
X

SSAAXNNTTAA
-- Example 8
SNAT

SNANTA
-- Example 9
NSNANTN

NSNANTNTA
-- Example 10
SATSTSTN

SATSTSTNTA
-- Example 11
STSTNSAT

STSTNSANTA
-- Example 12
NSTSTSAT

NSTSTSATNTA
-- Example 13
ATANSATA

ATANSANATATA
