-- Example 0
quqacukqauackck

2
-- Example 1
kcauq

-1
-- Example 2
quackquackquackquackquackquackquackquackquackquack

1
-- Example 3
qqqqqqqqqquuuuuuuuuuaaaaaaaaaacccccccccckkkkkkkkkk

10
-- Example 4
quqaquuacakcqckkuaquckqauckack

3
-- Example 5
quackqauckquack

-1
