-- Example 0
3
..G
R..
BG.
3

3
3LL
4LL
3LL
-- Example 1
4
R...
....
....
...R
2

3
4LL
0LL
0LL
-- Example 2
1
RGB
100000

3
100000LL
100000LL
100000LL
-- Example 3
1
.
1000000000

3
0LL
0LL
0LL
-- Example 4
2
RB.
.G.
100

3
100LL
1LL
100LL
-- Example 5
11
..........G..........
.........G.G.........
........G...G........
.......G.....G.......
......G..B.B..G......
.....G...B.B...G.....
....G...........G....
...G...R.....R...G...
..G.....RRRRRR....G..
.G..........RR.....G.
GGGGGGGGGGGGGGGGGGGGG
1000000000

3
2000000018LL
17000000048LL
2000000005LL
