-- Example 0
neotowheret
4
one
two
three
there

8
-- Example 1
abba
3
ab
ac
ad

2
-- Example 2
thisismeaningless
3
this
is
meaningful

-1
-- Example 3
ommwreehisymkiml
11
we
were
here
my
is
mom
here
si
milk
where
si

10
-- Example 4
ogodtsneeencs
6
go
good
do
sentences
tense
scen

8
-- Example 5
sepawaterords
2
separate
words

-1
