-- Example 0
bear

3
-- Example 1
abcba

3
-- Example 2
oooohyeahpotato

13
-- Example 3
zzzzzzzzzzzzzzzzzzzzz

-1
-- Example 4
qw

1
-- Example 5
xxyyxyxyyyyyyxxxyxyxxxyxyxyyyyyxxxxxxyyyyyyyyxxxxx

47
