-- Example 0
oxo?xox?
3
5

8
-- Example 1
x??x
9
4

8
-- Example 2
ooooxxxx
12
34

-1
-- Example 3
oxoxooxxxxooxoxo
7
4

0
-- Example 4
?o
6
2

6
-- Example 5
????????????????????
50
49

980
-- Example 6
o??oxxo?xoox?ox??x??
3
10

38
