-- Example 0
8
2
3
5
5
5
2
0
8

4
..........
.....X....
..X..X....
X.XX.X..X.
-- Example 1
4
9
9
9
9

5
..........
.........X
.........X
.........X
.........X
-- Example 2
8
6
4
0
0
3
9
8
8

3
..........
X.......X.
X..XX.X.XX
-- Example 3
10
0
1
2
3
4
5
6
7
8
9

2
..........
XXXXXXXXXX
-- Example 4
14
6
2
3
3
3
7
8
1
0
9
2
2
4
3

5
..........
...X......
..XX......
..XX......
XXXXX.XXXX
