-- Example 0
2
NN
YN

2
0LL
2LL
-- Example 1
4
NYNY
NNYN
YNNY
NYNN

4
8LL
0LL
16LL
0LL
-- Example 2
8
NYNYNYNY
NNYNYNYY
YNNNNNNN
NYYNNYNY
YNYYNYYY
NYYNNNNN
YNYYNYNN
NNYNNYYN

8
4096LL
8960LL
0LL
2048LL
23808LL
0LL
1408LL
0LL
-- Example 3
16
NYNNNNYYNYYNNYNN
NNNNNNNNNYYNYYNY
YYNYYNNNNYYYYYYN
YYNNYYYNYNNYYYNY
YYNNNYYNYYNNNNYY
YYYNNNNYYNNYYNYN
NYYNNYNYNYNYYYYN
NYYYYNNNYYNYNYYY
YYYNNNYNNYYYYNNN
NNNYNYNNNNNNYYNY
NNNYYYYYNYNYYYNN
YYNNYNNNNYNNYNNY
YNNNYNNYNNNNNYNN
NNNNYYNNYNNYNNYY
YYNYNNNNYYYYYNNN
YNYNNYYNYNYNYNYN

16
331616878592LL
37267079168LL
2426798866432LL
2606831599616LL
994941665280LL
1162501849088LL
1888166674432LL
4632734203904LL
832881524736LL
84707409920LL
3007127748608LL
55490052096LL
17818550272LL
254672666624LL
629921447936LL
1959311671296LL
-- Example 4
16
NYYYYYYYYYYYYYYY
NNYYYYYYYYYYYYYY
NNNYYYYYYYYYYYYY
NNNNYYYYYYYYYYYY
NNNNNYYYYYYYYYYY
NNNNNNYYYYYYYYYY
NNNNNNNYYYYYYYYY
NNNNNNNNYYYYYYYY
NNNNNNNNNYYYYYYY
NNNNNNNNNNYYYYYY
NNNNNNNNNNNYYYYY
NNNNNNNNNNNNYYYY
NNNNNNNNNNNNNYYY
NNNNNNNNNNNNNNYY
NNNNNNNNNNNNNNNY
NNNNNNNNNNNNNNNN

16
20922789888000LL
0LL
0LL
0LL
0LL
0LL
0LL
0LL
0LL
0LL
0LL
0LL
0LL
0LL
0LL
0LL
