-- Example 0
5
abc
bcd
cde
cdf
bbc

5
0
2
3
4
1
-- Example 1
3
?ala
ara
baba

3
0
0
1
-- Example 2
5
a?
a
a
ab
aa

5
2
0
0
3
2
-- Example 3
5
s?nu?ke
sm??eke
?sna?ke
so?th?e
shake??

5
0
1
0
2
0
-- Example 4
7
?
z?
zz?
zzz?
zzzz?
zzzzz?
zzzzzz?

7
0
1
2
3
4
5
6
