-- Example 0
3
kenta
kentaro
ken
2

3
-- Example 1
4
hideo
hideto
hideki
hide
2

6
-- Example 2
7
aya
saku
emi
ayane
sakura
emika
sakurako
3

24
-- Example 3
3
taro
jiro
hanako
2

0
-- Example 4
3
alice
bob
charlie
1

6
-- Example 5
20
ryota
ryohei
ryotaro
ryo
ryoga
ryoma
ryoko
ryosuke
ciel
lun
ryuta
ryuji
ryuma
ryujiro
ryusuke
ryutaro
ryu
ryuhei
ryuichi
evima
3

276818566
-- Example 6
50
fwgjtbllygebaofptsyt
fwgjtbllygebpeniyvhyyjhybauktmpvqum
fwgjtbllygeb
fwg
fwgjtbllygebpeniyvhyy
fwgjtbllbhxds
f
fwgjtbllygebpeniyvhy
fwgjtbllygebaofptsytn
fwgjtbllygebp
fwgjtbllygebpeniyvhyyjhybauloh
fwgjtbllygebpeniyvhyyjhyba
fwgjtbll
fwgjtbllygebpeniyvhyyjhybaxmveky
fwgjtbllygebpeniyvhyyjhybaul
fwgjwzvveeftxbi
fwgjtbllygebiqwpirhg
fwgjtbllygebpeniyvhyyjhybaulo
fwgjtbllygebpen
fwgjtbllygebpeniyvhyyjhyb
fwgjtbllygebpeniyvh
fwgjtbllygebpenhzi
fwgjtbllygebpeniyvhyyjhybbskhxd
fwgjtbllygebpeniyvhyyjhy
fwgjtbllygebpeniyvhyyjhybau
fwgjtsw
fwgjtbllygebaofptsytaaikf
fwgjtb
fwgjt
fwgjtbllbhxdspcm
fwgjtbllsnqz
fwgjtbllygebpeniy
fwgjtbllyge
fwgjtbl
fwgjwzvve
fwgjtbllygebpeni
fwgjtblliu
fwgjtbllygebiqwpirhgvpber
fwgjtbllygebpe
fwgjtbllygebpeniyv
fwgjtbllygebckfss
fwgjtbllyg
fwgjtbllsnqzpnc
fwgj
fwgjtbllygebpeniyvhyyjh
fwgjtbllygebiqwpirhglls
fw
fwgjtblly
fwgjtbllygebpeniyvhyyj
draeo
30

146326063
-- Example 7
50
a
aa
aaa
aaaa
aaaaa
aaaaaa
aaaaaaa
aaaaaaaa
aaaaaaaaa
aaaaaaaaaa
aaaaaaaaaaa
aaaaaaaaaaaa
aaaaaaaaaaaaa
aaaaaaaaaaaaaa
aaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
25

875934861
