-- Example 0
CAT
DOG
GOD

TAC
-- Example 1
BANANA
METETE
TEMP


-- Example 2
THEQUICKBROWNFOXJUMPSOVERTHELAZYHOG
UIFRVJDLCSPXOGPYKVNQTPWFSUIFMBAZIPH
DIDYOUNOTICESKIPPEDLETTER

CHCXNTMNSHBDRJHOODCKDSSDQ
