-- Example 0
1
vvv
0

7
-- Example 1
1
.
100

0
-- Example 2
1
vvv
1

1
-- Example 3
50
v.v..................v............................
.v......v..................v.....................v
..v.....v....v.........v...............v......v...
.........vvv...vv.v.........v.v..................v
.....v..........v......v..v...v.......v...........
...................vv...............v.v..v.v..v...
.v.vv.................v..............v............
..vv.......v...vv.v............vv.....v.....v.....
....v..........v....v........v.......v.v.v........
.v.......v.............v.v..........vv......v.....
....v.v.......v........v.....v.................v..
....v..v..v.v..............v.v.v....v..........v..
..........v...v...................v..............v
..v........v..........................v....v..v...
....................v..v.........vv........v......
..v......v...............................v.v......
..v.v..............v........v...............vv.vv.
...vv......v...............v.v..............v.....
............................v..v.................v
.v.............v.......v..........................
......v...v........................v..............
.........v.....v..............vv..................
................v..v..v.........v....v.......v....
........v.....v.............v......v.v............
...........v....................v.v....v.v.v...v..
...........v......................v...v...........
..........vv...........v.v.....................v..
.....................v......v............v...v....
.....vv..........................vv.v.....v.v.....
.vv.......v...............v.......v..v.....v......
............v................v..........v....v....
................vv...v............................
................v...........v........v...v....v...
..v...v...v.............v...v........v....v..v....
......v..v.......v........v..v....vv..............
...........v..........v........v.v................
v.v......v................v....................v..
.v........v................................v......
............................v...v.......v.........
........................vv.v..............v...vv..
.......................vv........v.............v..
...v.............v.........................v......
....v......vv...........................v.........
....vv....v................v...vv..............v..
..................................................
vv........v...v..v.....v..v..................v....
.........v..............v.vv.v.............v......
.......v.....v......v...............v.............
..v..................v................v....v......
.....v.....v.....................v.v......v.......
3

797922654
