-- Example 0
topcoderdivtwo

2
-- Example 1
foxciel

0
-- Example 2
magicalgirl

4
-- Example 3
waaiusushioakariusushiodaisuki

75
-- Example 4
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa

8924
