-- Example 0
2
....
....

1
-- Example 1
4
.##..
...#.
.#.#.
#...#

3
-- Example 2
4
..#.
#.#.
....
..#.

4
-- Example 3
2
..
..

0
-- Example 4
4
.#.#
....
.#.#
....

34
-- Example 5
20
##############
##############
#.############
#.############
#.############
#.############
#.############
#.############
#.#####.######
#.#####.######
#.#####.######
#....##.######
#######.######
#######.######
#######.######
#######.######
#######.######
#######.######
#######......#
##############

1350
-- Example 6
10
#......
.#....#
.#.#...
#....#.
.##..#.
.#.....
.....#.
.#.#...
.#...#.
..##...

2386
-- Example 7
30
...#..........................
..............................
..............................
..................#...#.......
..................#...........
..............................
...........#..................
..............................
.....#..#.....................
.......................#......
..................#.....#.....
..............................
..............................
..............................
..............................
..#...........................
..............................
..............................
..............................
#............................#
..............................
.....#.........#............#.
..............................
.........................#....
.#............................
.............#................
..............................
..............................
.......................#......
.............#................

5020791386
