-- Example 0
1
Y

1
-- Example 1
3
NYN
NNY
NNN

0
-- Example 2
3
NYN
NNY
YNN

1
-- Example 3
7
NYYYYYY
YNYYYYY
YYNYYYY
YYYNYYY
YYYYNYY
YYYYYNY
YYYYYYN

21
-- Example 4
4
NNNY
YNYN
YNNN
YYYN

1
-- Example 5
20
YYYYYNNYYYNYNNNNYNNY
NYNNNYYNNYNYYYNYYYYY
NNYNNNYYNNNNNNYYYYNY
YYNYNYYNNYYYNYNNNYYY
NYYNNYNYNYNNNNYYYNYN
NNNNNYYNYNNYYYYNYYYN
YNYNYYNNNYNNNNNYNNYY
NYYYYNYNYNNYNNYNNNNY
YYYYNYYNNYYYNNYNNYNY
YYYYYYNYNYNYNNNNNNYN
NNYYYYYNNNYNNNYNNNNY
YYNNNYNYYNYYNYYNYNYN
NNYNYYNYYNYYNYNYNYYN
YNYNYYNYNNNYNYNYYNYY
NNYNNNYYYYYYYYYYYNYY
YYYYYNYYNYYYYYNNYNNN
NYYYYYYYYNNNNNYYNNYN
YNNYNNNYYNYYYNYNYYYY
YYNNYNYYYNYYNNNYYNNY
NNYNYNYYYNYYNYNNYNNN

79
-- Example 6
6
YYNYNN
YNYNNY
YYYYNN
NNNYNN
NNNYNN
YNYNYN

5
-- Example 7
10
NNNNNNNNNN
NNNNNNNNNN
NNNYNNYNNN
NNNYNNYNNN
NNNYNNYNNN
NNNNNNNNNN
NNYYYYYYNN
NNYNNNNYNN
NNNYYYYNNN
NNNNNNNNNN

6
