-- Example 0
RRLRRLLR
10
10

2
-- Example 1
RRRRR
3
4

4
-- Example 2
LLLLLLLLLLR
2
6

-1
-- Example 3
RRRRRRRLRRLRRRRRRRRRRRRLRLRRRRRRRRLRRRRRLRRRRRRRRR
5
20

20
-- Example 4
RLRLLLLLLLRLLLRLLLLLLLLRLLLLLRLLLRRLLLLLRLLLLLRLLL
34
15

-30
