-- Example 0
5
.....
..x..
.xox.
.....
.....

1
-- Example 1
5
ooooo
xxxxo
xxxx.
xxxx.
ooooo

6
-- Example 2
5
.xoxo
ooxox
oooxx
xoxox
oxoox

13
-- Example 3
7
.......
.......
.......
xxxx...
ooox...
ooox...
ooox...

9
-- Example 4
7
.......
.xxxxx.
.xooox.
.xo.ox.
.xooox.
.xxxxx.
.......

8
-- Example 5
7
o.xox.o
..xox..
xxxoxxx
ooo.ooo
xxxoxxx
..xox..
o.xox.o

12
-- Example 6
7
.......
..xx...
.xooox.
.oxxox.
.oxxxo.
...oo..
.......

4
-- Example 7
7
.ox....
xxox...
..xoox.
..xoox.
...xx..
.......
.......

5
-- Example 8
19
...................
...................
...o..........o....
................x..
...............x...
...................
...................
...................
...................
...................
...................
...................
...................
...................
................o..
..x................
...............x...
...................
...................

0
