-- Example 0
A

1
-- Example 1
ABC

6
-- Example 2
VAMOSGIMNASIA

143
-- Example 3
TOPCODER

96
-- Example 4
SINGLEROUNDMATCH

183
-- Example 5
ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ

1300
