-- Example 0
1
oo

1
-- Example 1
6
.#
.#
.#
o#
o#
##

4
-- Example 2
6
..
..
..
o#
o#
##

3
-- Example 3
5
###
.o.
###
.o.
###

-1
-- Example 4
5
###
.o.
#.#
.o.
###

3
-- Example 5
5
###########
........#o#
###########
.........o#
###########

10
-- Example 6
5
############
.........#o#
############
..........o#
############

-1
