-- Example 0
3
NYY
YNY
YYN

6
-- Example 1
4
NYNN
YNYN
NYNY
NNYN

6
-- Example 2
4
NYYY
YNYY
YYNN
YYNN

16
-- Example 3
13
NYYYYYYYYYYYY
YNYYYYYYYYYYY
YYNYYYYYYYYYY
YYYNYYYYYYYYY
YYYYNYYYYYYYY
YYYYYNYYYYYYY
YYYYYYNYYYYYY
YYYYYYYNYYYYY
YYYYYYYYNYYYY
YYYYYYYYYNYYY
YYYYYYYYYYNYY
YYYYYYYYYYYNY
YYYYYYYYYYYYN

6227020800
-- Example 4
1
N

1
-- Example 5
8
NYYNYYYN
YNNNYYNY
YNNYNNNN
NNYNYYYN
YYNYNYNN
YYNYYNYY
YNNYNYNN
NYNNNYNN

1044
