-- Example 0
sum_of_two_numbers

sumOfTwoNumbers
-- Example 1
variable

variable
-- Example 2
t_o_p_c_o_d_e_r

tOPCODER
-- Example 3
the_variable_name_can_be_very_long_like_this

theVariableNameCanBeVeryLongLikeThis
