-- Example 0
3
XXX
XXX
XX-
4
---
XXX
-XX
XX-

3
XXXX
XXXX
X--X
-- Example 1
4
-XXXX
----X
XXX--
X-X-X
4
X---X
-X---
XXX--
--X--

4
-X-X
----
-XXX
X--X
-- Example 2
2
-----
XXXXX
3
XXXXX
-----
--X-X

2
-X-
XXX
-- Example 3
5
-
X
X
-
X
2
-
X

5
X-
XX
XX
X-
XX
-- Example 4
5
X----X--X
X--X-X---
--X-X----
XXXX-X-X-
XXXX--XXX
6
X----X-X-
-----X---
-X----X-X
-X-X-X---
-----X---
X-------X

5
-X--XX
-X--X-
------
XX-XX-
--X--X
