-- Example 0
3
WWWWWWW
WWWWWWB
BBBBBWW

3
WWWWWWW
WWWWWWB
BBBBBBB
-- Example 1
2
BBBBB
WBWBW

2
BBBBB
WWBWB
-- Example 2
5
BBBB
BBBB
BBWB
WWBB
BWBB

0
-- Example 3
4
WWBBBBW
BWBBWBB
BWBBWBW
BWWBWBB

4
WWBBBBW
BBBBBWB
BBBBBBB
BBBWBBB
