-- Example 0
babca

35
-- Example 1
zz

104
-- Example 2
y

25
-- Example 3
aaabbc

47
-- Example 4
topcoder

558
-- Example 5
thequickbrownfoxjumpsoverthelazydog

11187
-- Example 6
zyxwvutsrqponmlkjihgfedcba

6201
