-- Example 0
ANA

PALINDROME
-- Example 1
AAAAANNAA

FAUX
-- Example 2
LEGENDARY

NOT EVEN FAUX
-- Example 3
XXXYTYYTTYX

FAUX
-- Example 4
TOPCOODEREDOOCPOT

PALINDROME
-- Example 5
TOPCODEREDOOCPOT

FAUX
-- Example 6
XXXXYYYYYZZXXYYY

NOT EVEN FAUX
