-- Example 0
??CC??
ABC
BCC

ABCCBC
-- Example 1
WHAT?
THE
WA


-- Example 2
PARROT
PARROT


PARROT
-- Example 3
???????????
AZZAA
AZAZZA

AAZAZZAAZZA
-- Example 4
????K??????????????D???K???K????????K?????K???????
KKKKKDKKKDKKDDKDDDKDKK
KDKDDKKKDDKDDKKKDKDKKDDDDDDD

KDKDKDKKKDDKDDKKKDKDKKDKDDDKDDDKKDKKKDKKDDKDDDKDKK
