-- Example 0
2
tomorrow
topcoder

18
-- Example 1
2
a
b

6
-- Example 2
4
a
ab
abac
abacus

10
-- Example 3
5
pyramid
sphinx
sphere
python
serpent

39
-- Example 4
5
ba
a
a
b
ba

13
-- Example 5
50
btystsfbmdtxwiatwpsxgirentywkrtiwswokpkelipbxphyew
hxaxfhzbttzrmgbczfaygwecntmojsztyzifwpmnysgxxuqvai
cqadgjgtwavdcnfqghhycxrfgcegedpxmwmgjlbvufovnppiko
byxgnbicuhmdxhswccezyindealrcbjunksvsgfsyqbpfonrvk
csqyxbfmofzqhsqowqqoblpxjrvfyglqbntjgbtycjkfpqdvfv
xvjxjplojpdxbvmlfhhojqpwcpmmwsfloyvjkoopiutkypzvwx
aufyubymhwllwxnhkocrmrmutxfbailnxtxdtzivoqibwwtcsq
rgcblbabpybltzrcrvegcvfsurnhizcxfobbotzzeftfxrjulo
qeeytwbgsvmhvepnzxzfufeefnwvlvndqoevhffyeoskqqxmxb
wevhsdnqgguqydvxrwgqxnhqfjtrkhhcfiverhvwmxpwdjwbgh
zmcpksfzldlmegwpmdvjuvfmfdzwxmbywqpiqsmezhqlludbly
cymiccaxamubzgbgszkmgtnwdrnhqcpdtevyhzmkogjxilqkfl
ibrufvddraysmcoenjncjhyyqupmpyyiwcaubbcecqejymbxwv
lihizeqoahwcakkvlmwtxxhkrstifgsvyuauzorhxtavhtjfyv
wklaickujlddkzsebsfoklrqdkslnuczkdvjnevvxwmngunnyl
mecackjrzmraodyfgyoxrspvsisagisexiwsrdmcietblmkdkk
semkvzakwsctjskerryndzclrlovaitflmjlvkktsdsdmsnmfr
wmcbfkrnheklpodiwlnshcozaipdorihtstwydbsxawqqwjxxt
pnzlagflfbkunhsjqcrfrzavdjywxdjmcmdzqnjykixnalkbtr
qindyopnokdobktpzbzzawyfvcrcgpzldotfjqpjxvhewwbryj
fbamuwfqvonxewcvuljltabpfaizailedoytlktqmvslwjufpa
szzglafjftqsidhbjfwgixegwatobvpmuibruzbekjouxuxubf
xakjnfaggaupofqewsifpgjbhyeoylxugbmyfuhlrcraosbaov
rgtubqutmgwnoteoyppnswmdlpfiixovdqqfwpnzsvrwgdznrn
dzyzecblttekaksquyzxfwvdbsjtiizjghjdoodxtokbvpsisi
vpojuwqfjufymfxbibudzywaqigzwcfwgdnupndzvptbqrcvhp
abjlxxdhcobmqfejyszaeatwhumihpdnpenxfraxulfzbhcqhw
wbelkgvkseqsnmzgxhkiewzupvpskctykujbkgmofhpiqntlki
lbceshesdkcwsjsftlrgkpzyjchzechckwosrssjcjqqyocnll
hcicmkarkktijnboxclurygimivfoibldfcbjekurgkytkwlcp
pnprreklntcfzsaovaaswithmlftrpbfefhawcnrtwjdqikolv
scexqioclwfbfymbwekcbgjnidxzagfkamitubkoznwrdbhbiv
pvcpeafvfvraxpgaxktcvpfuiynbexthmyiahizygozgmykres
fcdxtlaebrzzowrhrchujnftosubdwapvzhduwlrtreyywvknc
yjonagtfwzblvdqlvriowjbzqwxpfhoxzxbxfkmnjuxmhhjzjo
awkmycyojrslbjaaswnbvjmrzzbwgxuoiwudidmgslywusrren
xfuqkajpqtntcsplvtukrbvfovokyrfvclmmyjwyxlhwbifzhu
vootmvztaqbeqbevecqofnhtydcaggpwdvqefwzxkdazrmxljt
zqklxnacmtdbxhjdgszgvmygmecacnrstvphegkwxbveycihpk
zhnlrjxxtdwmolbfqlslwioapydoypnsrxhvlijcqnqalgypab
dmlfhznpqydxwjfahjqhigqksuybsjsawsitcytqkvuzytojew
oqilcmogevaqofdsozxebspwrqscejmmvkfhwokutjgbpxewem
vkyhbslzskpexbnravmncbpbprozqmckcrzeobwssppgyesmji
nblfaajgomlmnqgfqonlxdyjpcezptwhxrdtrcinpvyrflqylf
begascosmigyccdmngzsbepapbgeefpvuxuvoqcoupivawjzxm
lctrdqsdlbncmtpbkxzlhjttnxudyjaigogvfzstrvozulyuqh
sffurppetrcuegenzbxaznnmhxyhubwtsmwxdqolsughrivymd
icbgmttdzaqewjxnvjhcbpmypobektwtpjjbdbourmdxsbwhdh
lbytxbhzmtxcxiigvadgbjrqwetfzkzwaqzyfhozolrpuddtnv
qpkzegabwzlflhbceiirzsaxbqbmpmxkwdjqirfqiuawpgrlch

2615
-- Example 6
3
absolutely
abs
absolute

17
-- Example 7
5
k
kvcy
imbbs
kqc
kqc

20
-- Example 8
2
m
mfqby

7
