-- Example 0
1
ABCDEFGHIJKLMNOPQRSTUVWXYZ

YES
-- Example 1
4
ADEHI..Z
BCFGJK.Y
.PONML.X
.QRSTUVW

YES
-- Example 2
1
ACBDEFGHIJKLMNOPQRSTUVWXYZ

NO
-- Example 3
4
ABC.......
...DEFGHIJ
TSRQPONMLK
UVWXYZ....

NO
-- Example 4
11
..............
..............
..............
...DEFGHIJK...
...C......L...
...B......M...
...A......N...
..........O...
..ZY..TSRQP...
...XWVU.......
..............

YES
