-- Example 0
2002

Interesting
-- Example 1
1001

Not interesting
-- Example 2
41312432

Interesting
-- Example 3
611

Not interesting
-- Example 4
64200246

Interesting
-- Example 5
631413164

Not interesting
