-- Example 0
2
AA
BC

2
-- Example 1
3
AAB
ACD
CCD

4
-- Example 2
3
iii
iwi
iii

8
-- Example 3
3
rng58
Snuke
Sothe

6
-- Example 4
7
yyAArJqjWTH5
yyEEruYYWTHG
hooEvutpkkb2
OooNgFFF9sbi
RRMNgFL99Vmm
R76XgFF9dVVV
SKnZUPf88Vee

14
-- Example 5
8
AAAAAAaaabcdefg
AAAAAAhhDDDDDDD
AAAAiAjDDDDDDDD
AAAAiijDDDDDDDD
AAAAAAAkDDDDDDD
AAAAoAAAlDDDDDD
AAApBnAAlDDDDDD
srqBBBmmmmDDDDD

26
