-- Example 0
DEADBEEF

0xDEADBEEF
-- Example 1
BABACECA

0xBABACECA
-- Example 2
TOPCODER


-- Example 3
FLU

0xFLU
-- Example 4
FULL

0xFULL
-- Example 5
FALL

0xFALL
-- Example 6
TASTEFUL

0x7A57EFUL
-- Example 7
OFFICIAL

0x0FF1C1AL
-- Example 8
OOZE

0x002E
-- Example 9
ESPRIT


-- Example 10
COOL

0xC00L
-- Example 11
DISEASE

0xD15EA5E
-- Example 12
SOLVED


