-- Example 0
3
.D.
...
...

3
-- Example 1
3
.D.
...
.U.

3
-- Example 2
5
DDDDD
.....
.....
.....
.....

3125
-- Example 3
5
DDDDD
U....
.U...
..U..
...U.

900
-- Example 4
7
....D..
U....D.
D.D.U.D
U.U...D
....U..
D.U...D
U.U....

2268
-- Example 5
10
DDDDDDDDDD
..........
..........
..........
..........
..........
..........
..........
..........
..........

999999937
-- Example 6
2
..
..

1
