-- Example 0
3
NYN
YNN
NNN

1
-- Example 1
3
NYY
YNN
YNN

0
-- Example 2
3
NYY
YNY
YYN

-1
-- Example 3
4
NYYY
YNYY
YYNN
YYNN

1
-- Example 4
6
NYNNNN
YNNNNN
NNNYNN
NNYNNN
NNNNNY
NNNNYN

3
-- Example 5
1
N

0
-- Example 6
17
NNNNNNNNNYYNNNYNN
NNYNNYNNNYNNNNNNN
NYNNNYNNNYNYNNNNN
NNNNYNNYNYNNNNNYN
NNNYNNNYNNNYYNNNN
NYYNNNNYNYNNNNNNN
NNNNNNNNYNNNNNNNY
NNNYYYNNNNNNNNYNN
NNNNNNYNNYNYNYNNN
YYYYNYNNYNYNNYNNN
YNNNNNNNNYNNNNNNN
NNYNYNNNYNNNNNNNN
NNNNYNNNNNNNNNNNN
NNNNNNNNYYNNNNYNY
YNNNNNNYNNNNNYNNN
NNNYNNNNNNNNNNNNN
NNNNNNYNNNNNNYNNN

0
-- Example 7
39
NYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
YNYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
YYNYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
YYYNYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
YYYYNYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
YYYYYNYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
YYYYYYNYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
YYYYYYYNYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
YYYYYYYYNYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
YYYYYYYYYNYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
YYYYYYYYYYNYYYYYYYYYYYYYYYYYYYYYYYYYYYY
YYYYYYYYYYYNYYYYYYYYYYYYYYYYYYYYYYYYYYY
YYYYYYYYYYYYNYYYYYYYYYYYYYYYYYYYYYYYYYY
YYYYYYYYYYYYYNYYYYYYYYYYYYYYYYYYYYYYYYY
YYYYYYYYYYYYYYNYYYYYYYYYYYYYYYYYYYYYYYY
YYYYYYYYYYYYYYYNYYYYYYYYYYYYYYYYYYYYYYY
YYYYYYYYYYYYYYYYNYYYYYYYYYYYYYYYYYYYYYY
YYYYYYYYYYYYYYYYYNYYYYYYYYYYYYYYYYYYYYY
YYYYYYYYYYYYYYYYYYNYYYYYYYYYYYYYYYYYYYY
YYYYYYYYYYYYYYYYYYYNYYYYYYYYYYYYYYYYYYY
YYYYYYYYYYYYYYYYYYYYNYYYYYYYYYYYYYYYYYY
YYYYYYYYYYYYYYYYYYYYYNYYYYYYYYYYYYYYYYY
YYYYYYYYYYYYYYYYYYYYYYNYYYYYYYYYYYYYYYY
YYYYYYYYYYYYYYYYYYYYYYYNYYYYYYYYYYYYYYY
YYYYYYYYYYYYYYYYYYYYYYYYNYYYYYYYYYYYYYY
YYYYYYYYYYYYYYYYYYYYYYYYYNYYYYYYYYYYYYY
YYYYYYYYYYYYYYYYYYYYYYYYYYNYYYYYYYYYYYY
YYYYYYYYYYYYYYYYYYYYYYYYYYYNYYYYYYYYYYY
YYYYYYYYYYYYYYYYYYYYYYYYYYYYNYYYYYYYYYY
YYYYYYYYYYYYYYYYYYYYYYYYYYYYYNYYYYYYYYY
YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYNYYYYYYYY
YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYNYYYYYYY
YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYNYYYYYY
YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYNYYYYY
YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYNYYYY
YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYNYYY
YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYNYY
YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYNY
YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYN

-1
