-- Example 0
1++

+1+
-- Example 1
549

459
-- Example 2
++++++

++++++
-- Example 3
+++++2+

++2++++
-- Example 4
++++4++++200++2++1+6++++++

00+1+22++4++6+++++++++++++
-- Example 5
++11199999

+111+99999
-- Example 6
++++4++++200++2++1+6++++++

00+1+22++4++6+++++++++++++
