-- Example 0
3
..B
B..
BB.
3

10
-- Example 1
4
B...
....
....
...B
2

4
-- Example 2
1
BBB
10000

30000
-- Example 3
1
.
1000000000

0
-- Example 4
2
BB.
.B.
100

201
-- Example 5
11
..........B..........
.........B.B.........
........B...B........
.......B.....B.......
......B..B.B..B......
.....B...B.B...B.....
....B...........B....
...B...B.....B...B...
..B.....BBBBBB....B..
.B..........BB.....B.
BBBBBBBBBBBBBBBBBBBBB
1000000000

21000000071
