-- Example 0
4
.RGB
R...
G...
B...

Exist
-- Example 1
4
.RRB
R...
R...
B...

Does not exist
-- Example 2
13
.R..BG..G..RG
R...GG..BR.G.
...G.GG.RR.BB
..G.RR.B..GRB
BG.R.G.BRRR.G
GGGRG.R....RR
..G..R.BGRR..
...BB.B.RB.G.
GBR.R.GR.B.R.
.RR.R.RBB.BRB
...GR.R..B...
RGBR.R.GRR...
G.BBGR...B...

Exist
-- Example 3
13
.............
.......BB.R..
.......RR....
.....G.G....R
........BB...
...G.........
........B...R
.BRG.......G.
.BR.B.B...GB.
....B......GR
.R......G....
.......GBG..B
...R..R..R.B.

Does not exist
-- Example 4
13
..B.BB...RB..
......R..B.G.
B.......BB...
.......R...G.
B....GRB..R..
B...G.RG.R...
.R..RR..B.RB.
...RBG...G...
..B...B......
RBB..R.G....R
B...R.R......
.G.G..B.....R
.........R.R.

Exist
-- Example 5
4
....
....
....
....

Does not exist
