-- Example 0
2
#.
..
2
..
.#

2
1
10101
-- Example 1
2
..
.#
2
#.
..

1
-1
-- Example 2
2
#..#
#...
2
....
...#

2
3
1000103
-- Example 3
4
####
####
####
.###
4
.###
##.#
.###
####

3
20102
2
2000300
-- Example 4
9
##.####.#.##.#.##.#.######.#..#.####..#########
#.##.##.#...###.#####.##.#.#####.#.###..####.##
.#.#..###.####...#####.#.#.###.######.##.######
.##.####..#.#..##..###.#.##.##...##.######.#..#
##..##.#...##.##.####.#.###..##.####..#.#.#..##
##...######.#.##.#..#.##.########.######.#####.
##.##.#.##.#####.##..#....#..#.#..#####.#..###.
###.##.##.######...####.#####.##..##.####.####.
####.###...#.#.#.#..##.#.#.####.###.##.#.#..##.
9
............###.#.........####.#.#.#..#..#.....
..#..##....#..##.....#.#.#..#....#...#..##..#.#
...##..##.....##.##....#..#.##.####....#......#
#.###..#..........###...#.....#.#.####...#.#...
.........#.##...#..#.#..#.....#.........##...##
#..#.#...#....#.##.#...#.....#####.....#.#..##.
#....#...#.#....#...#..###.......###..#...#...#
.#.#.............#......###....#...............
#.#..#.#.#...#..###..##.....#..#.......#.##..#.

1
-1
